body {
  margin: 0 0;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 3px solid rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 3px solid rgba(0, 0, 0, 0.5);
  border-right: 3px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.action-button {
  display: inline-block;
  margin-top: auto;
  margin-bottom: -4px;
  margin-left: auto;
  padding: 2px;
  cursor: pointer;
}

.query-history .MuiTypography-body2 {
  font-family: "Courier New", serif;
  font-size: 8pt;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #202020;
  border: 1px solid #16191f;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #202020;
}
::-webkit-scrollbar-thumb:active {
  background: #202020;
}
::-webkit-scrollbar-track {
  background: #202020;
  border: 0px none #16191f;
  border-radius: 53px;
}
::-webkit-scrollbar-track:hover {
  background: #202020;
}
::-webkit-scrollbar-track:active {
  background: #202020;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
